[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "njgeo"]
	path = njgeo
	url = https://github.com/gavinrozzi/njgeo
[submodule "zipcodeR"]
	path = zipcodeR
	url = https://github.com/gavinrozzi/zipcoder
